$base-size: 16;
/**
    pixel to rem converter
*/
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

$item: 50;

@mixin margin-list {
  @for $i from 0 through $item {
    .margin-left-#{$i} {
      margin-left: size($i);
    }
    .margin-right-#{$i} {
      margin-right: size($i);
    }
    .margin-bottom-#{$i} {
      margin-bottom: size($i);
    }
    .margin-top-#{$i} {
      margin-top: size($i);
    }
  }
}

@mixin padding-list {
  @for $i from 0 through $item {
    .padding-left-#{$i} {
      padding-left: size($i);
    }
    .padding-right-#{$i} {
      padding-right: size($i);
    }
    .padding-bottom-#{$i} {
      padding-bottom: size($i);
    }
    .padding-top-#{$i} {
      padding-top: size($i);
    }
    .padding-#{$i} {
      padding: size($i);
    }
  }
}